@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 2rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 27 0% 95%;
    --foreground: 27 0% 10%;
    --card: 27 0% 90%;
    --card-foreground: 27 0% 15%;
    --popover: 27 0% 95%;
    --popover-foreground: 27 95% 10%;
    --primary: 27 91.5% 54.1%;
    --primary-foreground: 0 0% 100%;
    --secondary: 27 10% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: -11 10% 85%;
    --muted-foreground: 27 0% 40%;
    --accent: -11 10% 80%;
    --accent-foreground: 27 0% 15%;
    --destructive: 0 50% 44%;
    --destructive-foreground: 27 0% 90%;
    --border: 27 20% 50%;
    --input: 27 20% 44%;
    --ring: 27 91.5% 54.1%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 27 10% 10%;
    --foreground: 27 0% 90%;
    --card: 27 0% 10%;
    --card-foreground: 27 0% 90%;
    --popover: 27 10% 5%;
    --popover-foreground: 27 0% 90%;
    --primary: 27 91.5% 54.1%;
    --primary-foreground: 0 0% 100%;
    --secondary: 27 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: -11 10% 25%;
    --muted-foreground: 27 0% 60%;
    --accent: -11 10% 25%;
    --accent-foreground: 27 0% 90%;
    --destructive: 0 50% 44%;
    --destructive-foreground: 27 0% 90%;
    --border: 27 20% 44%;
    --input: 27 20% 44%;
    --ring: 27 91.5% 54.1%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
